{% extends "frontend/base.html" %}
{% load static %}
{% block title %}Set a new password · Split Expenses{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card p-4">
      <h4 class="mb-3">Set a new password</h4>
      <form id="reset-confirm-form" data-uid="{{ uid }}" data-token="{{ token }}">
        <div class="mb-2">
          <input type="password" class="form-control" name="password" placeholder="New password (min. 8 characters)" required minlength="8">
        </div>
        <div id="reset-confirm-message" class="small mb-2"></div>
        <button type="submit" class="btn btn-money w-100">Set new password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/reset_password_confirm.js' %}"></script>
{% endblock %}
